[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
ttok = "*"
strip-tags = "*"
amazon-textract-textractor = {extras = ["pdf"], version = "*"}
boto3 = "*"
llm = "*"
sentence-transformers = "*"
httpx = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
